### Dataset

In this project we will create a data set simulating a real world phenomenon. As for a long time in my professional life I was part of the commercial area, so I chose to create hypothetical products and their respective variables for those who know how to predict a possible monthly revenue.


As variables we will basically need:

- the product itself - data such as names and may contain models
- quantity - integer data
- price - data of decimal numbers
- date - simulation of the date they were sold
- billing - basically the sum of price and quantity

### Import Libraries

We will start by reserving a cell to import all the libraries we will need in this project.

In [189]:
import pandas as pd
import numpy as np
import random as rd
import datetime
from datetime import timedelta

To generate car brands and real prices a sample of the data set below was used.
https://archive.ics.uci.edu/ml/datasets/automobile

In [198]:
# First we choose the columns (variables)
columns = ['Product', 'Price', 'Quantity Ordered', 'Date']
# a list of cars has been included to represent the products
products = ['chevrolet', 'dodge', 'honda', 'isuzu', 'mitsubishi', 'toyota', 'volkswagen', 'nissan', 'mazda', 'peugot', 'alfa-romero', 'audi', 'volvo', 'bmw', 'porsche', 'mercedes-benz', 'jaguar']
# a list of prices has been included to represent each car brand
prices = [6007, 7875, 8184, 8916, 9239, 9885, 10077, 10415, 10652, 15489, 15498, 17859, 18063, 26118, 31400, 33647, 34600]
# a dictionary was generated so that the car brand key matches the price of the car
prod_pri = dict(zip(products, prices))

# to create a empty Data set
df = pd.DataFrame(columns=columns)
df

# This function randomly chooses dates from January 1, 2020 to December 2020
def random_time():
    start_dt = date.today().replace(day=1, month=1).toordinal()
    end_dt = date.today().replace(month=12).toordinal()
    random_day = date.fromordinal(rd.randint(start_dt, end_dt))
    return random_day

def random_price(random_day):
#    random_day =  pd.to_datetime(df['Date'], errors='coerce', format='%Y/%m/%d')
    random_day=df['Date'].apply(lambda x: x.strftime('%d%m%Y'))
    month_value = [a.split('/')[-1] for a in random_day]
    for month in range(1,13):
        if month <=4:
            orders = int(np.random.normal(loc=10, scale=10))
        if month <=8:
            orders = int(np.random.normal(loc=50, scale=10))
        if month <=12:
            orders = int(np.random.normal(loc=100, scale=10)) 
            
# Here we will randomly choose the products and their respective prices, the date and the orders (100 times) to be included in the data set
for i in range (100):
    date = random_time() # calls the function to randomly chooses dates
    product = rd.choice(list(prod_pri.keys())) # select products randomly from the prod_pri dictionary
    price = prod_pri[product] # selects the respective car prices
    orders = random_price(random_day)
    df.loc[i] = [product, price, orders, date]



# Saving the generated file
df.to_csv('data_project_pda.csv')
df

       Product  Price Quantity Ordered        Date
0       toyota   9885             None  2020-10-01
1        honda   8184             None  2020-10-21
2    chevrolet   6007             None  2020-06-26
3        isuzu   8916             None  2020-01-01
4        honda   8184             None  2020-03-21
..         ...    ...              ...         ...
95      jaguar  34600             None  2020-11-27
96         bmw  26118             None  2020-07-07
97         bmw  26118             None  2020-06-27
98  mitsubishi   9239             None  2020-10-13
99  mitsubishi   9239             None  2020-11-28

[100 rows x 4 columns]

In [119]:
# First we choose the columns (variables)
columns = ['Product', 'Price', 'Quantity Ordered', 'Date']
# a list of cars has been included to represent the products
products = ['chevrolet', 'dodge', 'honda', 'isuzu', 'mitsubishi', 'toyota', 'volkswagen', 'nissan', 'mazda', 'peugot', 'alfa-romero', 'audi', 'volvo', 'bmw', 'porsche', 'mercedes-benz', 'jaguar']
# a list of prices has been included to represent each car brand
prices = [6007, 7875, 8184, 8916, 9239, 9885, 10077, 10415, 10652, 15489, 15498, 17859, 18063, 26118, 31400, 33647, 34600]
# a dictionary was generated so that the car brand key matches the price of the car
prod_pri = dict(zip(products, prices))

# to create a empty Data set
df = pd.DataFrame(columns=columns)
df

# This function randomly chooses dates from January 1, 2020 to December 2020
def random_time():
    start_dt = date.today().replace(day=1, month=1).toordinal()
    end_dt = date.today().replace(month=12).toordinal()
    random_day = date.fromordinal(rd.randint(start_dt, end_dt))
    return random_day

def random_price():
    random_day =  pd.to_datetime(df['Date'], format='%Y/%m/%d')
    month_value = [a.split('/')[-1] for a in random_day]
    print(month_value)
    for month in range(1,13):
        if month <=4:
            orders = int(np.random.normal(loc=10, scale=10))
        if month <=8:
            orders = int(np.random.normal(loc=50, scale=10))
        if month <=12:
            orders = int(np.random.normal(loc=100, scale=10)) 
            
# Here we will randomly choose the products and their respective prices, the date and the orders (100 times) to be included in the data set
for i in range (100):
    date = random_time() # calls the function to randomly chooses dates
    product = rd.choice(list(prod_pri.keys())) # select products randomly from the prod_pri dictionary
    price = prod_pri[product] # selects the respective car prices
    orders = random_price()
    df.loc[i] = [product, price, orders, date]



# Saving the generated file
df.to_csv('data_project_pda.csv')
random_day

2020-11-04

datetime.timedelta(days=64, seconds=29156, microseconds=10)