### Dataset

In this project we will create a data set simulating a real world phenomenon. As for a long time in my professional life I was part of the commercial area, so I chose to create hypothetical products and their respective variables for those who know how to predict a possible monthly revenue.


As variables we will basically need:

- the product itself - data such as names and may contain models
- quantity - integer data
- price - data of decimal numbers
- date - simulation of the date they were sold
- billing - basically the sum of price and quantity

### Import Libraries

We will start by reserving a cell to import all the libraries we will need in this project.

In [137]:
import pandas as pd
import numpy as np
import random as rd
import datetime
from datetime import timedelta
from datetime import date

To generate car brands and real prices a sample of the data set below was used.
https://archive.ics.uci.edu/ml/datasets/automobile

In [155]:
# First we choose the columns (variables)
columns = ['Product', 'Price', 'Quantity Ordered', 'Date']
# a list of cars has been included to represent the products
products = ['chevrolet', 'dodge', 'honda', 'isuzu', 'mitsubishi', 'toyota', 'volkswagen', 'nissan', 'mazda', 'peugot', 'alfa-romero', 'audi', 'volvo', 'bmw', 'porsche', 'mercedes-benz', 'jaguar']
# a list of prices has been included to represent each car brand
prices = [6007, 7875, 8184, 8916, 9239, 9885, 10077, 10415, 10652, 15489, 15498, 17859, 18063, 26118, 31400, 33647, 34600]
# a dictionary was generated so that the car brand key matches the price of the car
prod_pri = dict(zip(products, prices))

# to create a empty Data set
df = pd.DataFrame(columns=columns)
df

# This function randomly chooses dates from January 1, 2020 to December 2020
def random_time():
    start_dt = date.today().replace(day=1, month=1).toordinal()
    end_dt = date.today().replace(month=12).toordinal()
    random_day = date.fromordinal(rd.randint(start_dt, end_dt))
    return random_day

def random_price():
#    random_day =  pd.to_datetime(df['Date'], errors='coerce', format='%Y/%m/%d')
#    random_day = df['Date'].apply(lambda x: x.strftime('%d%m%Y'))
#    month_value = [a.split('/')[-1] for a in random_day]
   
    for month in range(1,13):
        if month <= 1:
            orders = int(np.random.normal(loc=0, scale=10))
            if orders < 0:
                orders *= (-1)
                continue
                
        elif month <= 9:
            orders = int(np.random.normal(loc=10, scale=10))
            if orders < 0:
                orders *= (-1)
                continue
        else:
            orders = int(np.random.normal(loc=20, scale=10))
            if orders < 0:
                orders *= (-1)
                continue
 
    return orders
  
               
# Here we will randomly choose the products and their respective prices, the date and the orders (100 times) to be included in the data set
for i in range (100):
    product = rd.choice(list(prod_pri.keys())) # select products randomly from the prod_pri dictionary
    price = prod_pri[product] # selects the respective car prices
    date = random_time() # calls the function to randomly chooses dates
    orders = random_price()
    df.loc[i] = [product, price, orders, date]



# Saving the generated file
df.to_csv('data_project_pda.csv')
df

        Product  Price Quantity Ordered        Date
0        jaguar  34600               25  2020-07-10
1     chevrolet   6007               31  2020-02-25
2         honda   8184               13  2020-06-01
3   alfa-romero  15498               11  2020-07-29
4       porsche  31400                8  2020-11-27
..          ...    ...              ...         ...
95        mazda  10652               17  2020-11-05
96       jaguar  34600               31  2020-03-14
97       toyota   9885               35  2020-07-19
98   mitsubishi   9239               12  2020-01-13
99   volkswagen  10077               14  2020-08-15

[100 rows x 4 columns]

In [71]:
# First we choose the columns (variables)
columns = ['Product', 'Price', 'Quantity Ordered', 'Date']
# a list of cars has been included to represent the products
products = ['chevrolet', 'dodge', 'honda', 'isuzu', 'mitsubishi', 'toyota', 'volkswagen', 'nissan', 'mazda', 'peugot', 'alfa-romero', 'audi', 'volvo', 'bmw', 'porsche', 'mercedes-benz', 'jaguar']
# a list of prices has been included to represent each car brand
prices = [6007, 7875, 8184, 8916, 9239, 9885, 10077, 10415, 10652, 15489, 15498, 17859, 18063, 26118, 31400, 33647, 34600]
# a dictionary was generated so that the car brand key matches the price of the car
prod_pri = dict(zip(products, prices))

# to create a empty Data set
df = pd.DataFrame(columns=columns)
df

# This function randomly chooses dates from January 1, 2020 to December 2020
def random_time():
    start_dt = date.today().replace(day=1, month=1).toordinal()
    end_dt = date.today().replace(month=12).toordinal()
    random_day = date.fromordinal(rd.randint(start_dt, end_dt))
    return random_day

def random_price(random_day):
#    random_day =  pd.to_datetime(df['Date'], errors='coerce', format='%Y/%m/%d')
    random_day=df['Date'].apply(lambda x: x.strftime('%d%m%Y'))
    month_value = [a.split('/')[-1] for a in random_day]
    for month in range(1,13):
        if month <=4:
            orders = int(np.random.normal(loc=10, scale=10))
        if month <=8:
            orders = int(np.random.normal(loc=20, scale=10))
        if month <=12:
            orders = int(np.random.normal(loc=30, scale=10)) 
            
# Here we will randomly choose the products and their respective prices, the date and the orders (100 times) to be included in the data set
for i in range (100):
    product = rd.choice(list(prod_pri.keys())) # select products randomly from the prod_pri dictionary
    price = prod_pri[product] # selects the respective car prices
    dat = random_time() # calls the function to randomly chooses dates
    orders = random_price(random_day)
    df.loc[i] = [product, price, orders, dat]



# Saving the generated file
df.to_csv('data_project_pda.csv')
df

NameError: name 'random_day' is not defined